@media (min-width: 768px) {
    #nav, #container{padding: 0 160px;}
    .container-fluid{padding: 0 !important;}
}
*{
    text-decoration: none !important;
}
pre{
white-space: pre-wrap;
word-wrap: break-word;
}



.badge{
    border-radius: 10px;
}
.tag{
    margin-bottom: 5px;
}
.panel-body{
    word-wrap: break-word;
}
.label{border-radius: 0;}
.panel-title>.label{padding: .4em .6em .3em; }
.jumbotron{
    padding-bottom: 0 !important;
    padding-top: 20px !important;
    margin-bottom: 0 !important;
    text-align: center;
    background: #2d3d56;
}
#container{
    min-height: 335px;
}

.ease{
    height: 0;
    width: 0;
    top: 50%;
    margin-top: -4px;
    right: -4px;
    display: inline-block;
    vertical-align: middle;
    border-left:4px solid #5bc0de;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
}
.panel-title{
    line-height: 20px;
    color: red;
}
.panel-title>a.category{
    color: black;
}
.panel-title>a.category:hover{
    opacity: 0.8;
}
.panel-title>a.article-title:hover{
    color: white;
}


.article-title{
    font-size: large;
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, sans-serif;
}
.article-icon{
    color: #9d9d9d !important;
}
.category-link{
    color: #333 !important;
}
.category-link:hover{
    color: #9d9d9d !important;
}
.article-footer{
    background-color: transparent !important;
    padding: 5px 15px;
    border-top: none !important;
}
.pagination{
    margin: 0 !important;
}
.search-group{
    margin-bottom: 20px;
}

 .avatar_div {
     display: block;
     height: 120px;
     width: 120px;
     margin: 0px auto;
     text-align:center;
 }

 .avatar {
   float:left;
   margin-right:8px;
   padding:1px;
   border:1px solid #cfd9e1;
   width:120px;
   height:120px; /*设置头像的长和宽*/
   border-radius: 60px;/*设置头像圆角效果,在这里我直接设置了超过width/2的像素，即为圆形了*/
   -webkit-border-radius: 60px;/*圆角效果：兼容webkit浏览器*/
   -moz-border-radius:60px;
   box-shadow: inset 0 -1px 0 #3333sf;/*设置头像阴影效果*/
   -webkit-box-shadow: inset 0 -1px 0 #3333sf;
   -webkit-transition: 0.8s;
   -webkit-transition: -webkit-transform 0.4s ease-out;
   transition: transform 0.8s ease-out;/*变化时间设置为0.4秒(变化动作即为下面的图像旋转360度）*/
   -moz-transition: -moz-transform 0.8s ease-out;
 }

 .avatar:hover {
   /*鼠标滑过，图像旋转*/
   box-shadow: 0 0 10px #fff;
   rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
   -webkit-box-shadow: 0 0 10px #fff;
   rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
   transform: rotateZ(360deg);/*图像旋转360度*/
   -webkit-transform: rotateZ(360deg);
   -moz-transform: rotateZ(360deg);
 }

#footer{
    text-align: center;
    background: #eee;
    min-height: 80px;
    padding: 15px;
}