{% extends 'blog/base_container.html' %}

{% block title %}
    {{ title|default:'无标题' }}
{% endblock %}

{{ title|default:'无标题' }}

{% block content %}
    {% if article %}
        <div class="panel panel-default">
            <div class="panel-heading text-center panel-title">
                <strong>
                    {{ article.title }}
                </strong>
            </div>
            <div class="panel-body">
                <!--文章附属信息-->
                <div class="article-info text-center">
                    <span class="glyphicon glyphicon-bookmark article-icon">  </span>
                    {% if article.category %}
                        <a class="category-link"
                           href="{% url 'blog:category' article.category_id %}">{{ article.category }}</a>
                    {% else %}
                        <a class="category-link" href="{% url 'blog:category' 0 %}">未分类</a>
                    {% endif %}
                    <span class="glyphicon glyphicon-time article-icon">  </span> {{ article.time_last_modified|date:"Y-m-d H:i" }}
                    <span class="glyphicon glyphicon-user article-icon">  </span> {{ article.author.username }}
                    <span class="glyphicon glyphicon-eye-open article-icon">  </span> {{ article.views }}
                </div>
                <!--文章主体内容-->
                <div class="article">
                    <!--没有看到 md 渲染啊-->
                    {{ article.body|safe }}
                    {% if article.tag.all %}
                        <br><br>
                        <span class="glyphicon glyphicon-tags"></span>
                        {% for tag in article.tag.all %}
                            <a href="{% url 'blog:tag' tag.id %}"><span class="label label-default">{{ tag }}</span>
                            </a>
                        {% endfor %}
                        <br>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>





<!--上一篇，下一篇按钮-->
        <nav>
            <ul class="pager">
                {% if article.get_previous_article %}
                    {% with article.get_previous_article as previous %}
                        <li class="previous"><a
                                href="{{ previous.get_absolute_url }}">上一篇:{{ previous.title|truncatechars:20 }}</a>
                        </li>
                    {% endwith %}
                {% endif %}
                {% if article.get_next_article %}
                    {% with article.get_next_article as next %}
                        <li class="next"><a href="{{ next.get_absolute_url }}">下一篇:{{ next.title|truncatechars:20 }}</a>
                        </li>
                    {% endwith %}
                {% endif %}
            </ul>
        </nav>
<!--配置多说评论-->
        {% include 'blog/duoshuo.html' %}
    {% else %}
        <div class="alert alert-warning" role="alert">文章不存在！</div>
    {% endif %}
{% endblock %}