<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/tools.css' %}" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css"
          rel="stylesheet">
</head>

<div class="panel panel-default">
<div class="right-card">
    <div class="user-icon-wrapper">
        <a><img src="http://ww3.sinaimg.cn/large/b10d1ea5jw1f95jk0irbmj20dw0dwq3h.jpg" width="96px"
                height="96px"></a>
        <h2><a>Vino</a></h2>
    </div>

    <div class="self-info">
        <ul>
            <li><a href="https://github.com/wuchangfeng">Github</a><span
                class="right-icon fa fa-github"></span></li>
            <li><a href="http://weibo.com/2970427045/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1">Weibo</a><span
                    class="right-icon fa fa-weibo"></span></li>
            <li><a href="mailto:437806668@qq.com">MailTo</a><span
                    class="right-icon fa fa-envelope"></span></li>
        </ul>
    </div>
</div>
    </div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">文章分类</h3>
    </div>
    {% if categories %}
        <ul class="list-group">
            {% if null_count > 0 %}
                <a class="list-group-item" href="{% url 'blog:category' 0 %}">
                    <span class="badge">{{ null_count }}</span>
                    未分类
                </a>
            {% endif %}
            {% for category in categories %}
                <a class="list-group-item" href="{% url 'blog:category' category.pk %}">
                    <span class="badge">{{ category.p_count }}</span>
                    {{ category }}
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <div class="panel-body">没有分类！</div>
    {% endif %}
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">标签列表</h3>
    </div>
    <div class="panel-body">
        {% if tags %}
            {% for tag in tags %}
                <a href="{% url 'blog:tag' tag.pk %}" class="btn btn-default btn-sm tag" role="button">{{ tag }}</a>
            {% endfor %}
        {% else %}
            没有标签！
        {% endif %}
    </div>
</div>

</html>